.add-button{
  border:1px solid #ccc;
  height: 150px;
  width: 150px;
  margin: 2em auto 0 auto;
  border-radius: 50%;
  cursor: pointer;
  padding: 10% 0;
  text-align: center;
  color: #333;
  background-color:#fff;
}
.add-button span{
  font-size: 3em;
}
.add-button p{
  padding: 10% 0;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: #8BC34A;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #8BC34A;
  content: ">";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.mt-1{
  margin-top: 1em !important;
}
.mt-2{
  margin-top: 2em !important;
}
.mt-3{
  margin-top: 3em !important;
}
.text-green{
  color:  #8BC34A!important;
}
.pay-btn{
  background: #8BC34A!important;
  /*border-radius: 0;*/
  display: block;
}
.btn-green{
  background: #8BC34A!important;
  color: #fff!important;
}
.pay-btn:hover{
  opacity: 0.9;
}
.cancel-btn{
  background: #F44336;
  border-radius: 0;
  display: block;
}
.cancel-btn:hover{
  background: #F44336!important;
  opacity: 0.9;
}
.in-grp1{
  width:100%;
  margin:0;
}
.avatar-preview{
  height: 100px;
  width: 50%;
  margin: 0 auto 1em auto;
}
.avatar-preview img{
  max-height: 100%;
  max-width: 100%;
  margin: auto auto;
  object-fit: cover;
}
.border-red{
  border: 1px solid #F44336 !important;
}
/*ICON CTA*/
.wrimagecard{
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}
.loader{
  top: 10%;
  left: 40%;
  position: absolute;
}
.text-bold{
  font-weight: bold!important;
}
