.add-button{
  border:1px solid #ccc;
  height: 150px;
  width: 150px;
  margin: 2em auto 0 auto;
  border-radius: 50%;
  cursor: pointer;
  padding: 10% 0;
  text-align: center;
  color: #333;
  background-color:#fff;
}
.add-button span{
  font-size: 3em;
}
.add-button p{
  padding: 10% 0;
}
.mt-1{
  margin-top: 1em !important;
}
.mt-2{
  margin-top: 2em !important;
}
.mt-3{
  margin-top: 3em !important;
}
