.products-selection-section .nav {
  overflow: hidden;
}
.products-selection-section .nav a{
  border: 1px solid #ccc;
  color: #333;
}
.products-selection-section .nav a{
  border-radius: 0!important;
}
.products-selection-section .fa-search{
  color: #333!important;
}
.products-selection-section .nav .active a{
  border-bottom: 3px solid #8BC34A !important;
}
.cart-preview-section{
  overflow: hidden;
  padding: 0 7% 3em 0;
  border-bottom: 1px solid #ccc;
}

.content_box {
    border: 1px solid #D6CBCB;
    padding-bottom: 10px;
}
.content_box h4{
    text-align: center;
}
.content_box h4 a{
    text-transform: uppercase;
    color: #000;
    text-decoration: none;

}
.content_box h6 {
    font-size: 17px;
    margin: 0;
}

.item_add a {
		padding: 5px 10px;
		font-size: 0.85em;
	}
.item_add {
  color: #fff;

  border:none;
}
.item_add {
  border: none;
  color: #3f3d3d;
  padding: 10px 20px;
  font-size: 0.85em;
  border: none;
  text-align: center;
}
.item_add  a{
  background: #8BC34A;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 0.85em;
  border: none;
}
.content_box img{
    height: 150px;
    object-fit: cover;
}
.content_box{
    margin-bottom: 1em;
}
.cart-preview-section table{
  margin: 0;
}
.cart-preview-section table .fa-times-circle{
  cursor: pointer;
}
.cart-preview-section table tfoot tr:last-child{
  border: 1px solid #0275d8;
}

.cart-preview-section .table{
  padding-bottom: 3em;
  border-bottom: 1px solid #ccc;
}



.br0{
  border-radius: 0!important;
}
